alias mycompile='$HOME/ysyx_shell/my_compile.sh'
alias c='fasd_cd -d'
alias co='f -e code'  # quick opening files with vscode
alias ge='f -e gedit' # quick opening files with gedit
# alias python='python3.13'
alias condaa='conda activate'
alias condad='conda deactivate'
alias condal='conda list'
alias condaenvs='conda info --envs'
alias diff='diff --color=always'
alias pdf2zh='conda activate zotero-pdf2zh-next-venv; python ~/pdf2zh/server/server.py --env_tool=conda'
alias nvboardpin='python3 $NVBOARD_HOME/scripts/auto_pin_bind.py'
alias yosys-syn='bash $HOME/yosys-sta/run_syn.sh'
alias yosys-sta='bash $HOME/yosys-sta/run_sta.sh'
alias xxyun='cd $HOME/xxyun;docker run -it --rm -e DISPLAY=$DISPLAY -v /tmp/.X11-unix:/tmp/.X11-unix -v $PWD:/app ubuntu:24.04 bash -c "apt update && apt install -y libfuse2 libgl1 libgtk-3-0 libx11-6 libxcb1 && cd /app && ./xxyun.app"'
alias verilator-auto='bash $HOME/yosys-sta/run_verilator.sh'
alias n='f -e nvim'
alias l='lsd'
alias ll='lsd -al'
alias musicfox-ui='tmux new-session -d 'musicfox' \; split-window -h \; resize-pane -L -x 10% \; send-keys 'cava' Enter \; attach'
# alias musicfox-ui='kitten @ launch --location=hsplit --cwd=current cava && exec musicfox'
# alias codex-start='sh ~/.codex/scripts/start-codex.sh'
alias codex='CODEX_HOME="$CODEX_HOME_DIR" codex' # codex --cd ~/moon-bridge'
alias hd='hexdump -C'
alias zotero-translation='cd ~/zotero-pdf2zh/server; uv run --python 3.12 --with-requirements requirements.txt server.py'
