export GTK_IM_MODULE=fcitx5
export QT_IM_MODULE=fcitx5
export XMODIFIERS=@im=fcitx5
export SDL_IM_MODULE=fcitx
#export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'
export TLDR_LANGUAGE=zh
export MANPAGER="less -R"
export LESS_TERMCAP_md=$'\e[1;32m'
export LESS_TERMCAP_mb=$'\e[1;31m'
export LESS_TERMCAP_me=$'\e[0m'
export LESS_TERMCAP_us=$'\e[4;36m'
export LESS_TERMCAP_ue=$'\e[0m'
export LESS_TERMCAP_so=$'\e[1;44;33m'
export LESS_TERMCAP_se=$'\e[0m'
export LESS_TERMCAP_vb=$'\e[1;31m'
export MANWIDTH=80
export NEMU_HOME=/home/blossilver/ysyx-workbench/nemu
export AM_HOME=/home/blossilver/ysyx-workbench/abstract-machine
export NVBOARD_HOME=/home/blossilver/ysyx-workbench/nvboard
export NPC_HOME=/home/blossilver/ysyx-workbench/npc
export AM_KER_HOME=/home/blossilver/ysyx-workbench/am-kernels
export SOC_HOME=/home/blossilver/ysyx-workbench/ysyxSoC
export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/oss-cad-suite/bin:$PATH"
export EDITOR=nvim
if [ -f ~/.api-key ]; then
    source ~/.api-key
fi
